body{
	background-image: url(https://images8.alphacoders.com/107/1079553.png);
    background-attachment: fixed;
background-size: cover;
}

h1{
text-align: left;
color: antiquewhite;
}
h2{
text-align: right;
color: antiquewhite;
}

#table2{
text-align: left;


}

p {
	font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}


a.volta{
    border-radius: 5px;
    border-color: brown;




}


summary{
    width: 250px;
    height: 250px;
    text-align: center;
    color: gainsboro;
    }

    summary2{
        text-align: right;

    }
