body{
background-image: url(https://images3.alphacoders.com/107/1079554.png);
background-attachment: fixed;
background-size: cover;
}



p{
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }




    h2{
        color: antiquewhite;


    }
h1,p{
font-style: oblique;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h3{
text-align: left;
font-style: oblique;

}

.borda{
width: ;
height: ;
background-color: rgba(114, 233, 114, 0.559);

}