body{
background-image: url(https://images2.alphacoders.com/107/1079552.png);
background-attachment: fixed;
background-size: cover;
}

a{
text-align:left;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
}
