body{
background-image: url(https://images2.alphacoders.com/107/1079552.png);
background-attachment: fixed;
background-size: cover;
}

h1{
text-align: center;
color: black;


}

a{
text-align:right;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color:rgb(182, 255, 255)
}
.borda{

    background-color: rgba(114, 233, 114, 0.559);
    
    }

.topo{
background-color:  rgba(66, 222, 69, 0.525);
width:1302 ;
height: 55;


}