body{
  background-image: url(https://images3.alphacoders.com/107/1079554.png);
background-attachment: fixed;
background-size: cover;

}
h1,h2{
color: brown;

}

h3{
text-align: left;
    
}
