body{
background-color: darkolivegreen;
background-size: cover;
}

h1{
color: whitesmoke;
}
h2{
color: whitesmoke;
text-align: right;
}
h3{
color:whitesmoke;
}


tr{
text-align: top;


}


